<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bortpad.Properties.Defaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Bortpad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bortpad.Properties.Defaults>
            <setting name="General_DefaultEncoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="General_Font" serializeAs="String">
                <value>Consolas, 11.25pt</value>
            </setting>
            <setting name="General_StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_LineEnding" serializeAs="String">
                <value>CrLf</value>
            </setting>
            <setting name="General_ShowLineEndings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Find_Search" serializeAs="String">
                <value />
            </setting>
            <setting name="Find_Replace" serializeAs="String">
                <value />
            </setting>
            <setting name="Find_Up" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Find_MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Find_WrapAround" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FeedbackURL" serializeAs="String">
                <value>https://stevenwilson.ca/contact</value>
            </setting>
            <setting name="HelpURL" serializeAs="String">
                <value>https://stevenwilson.ca/bortpad/help</value>
            </setting>
            <setting name="DefaultEOL" serializeAs="String">
                <value>CrLf</value>
            </setting>
            <setting name="SearchURI" serializeAs="String">
                <value>https://google.com/search?q=</value>
            </setting>
            <setting name="DefaultFilename" serializeAs="String">
                <value>Untitled</value>
            </setting>
            <setting name="DefaultSection" serializeAs="String">
                <value>General</value>
            </setting>
            <setting name="DefaultConfigFile" serializeAs="String">
                <value>Bortpad.cfg</value>
            </setting>
        </Bortpad.Properties.Defaults>
        <Bortpad.Properties.Settings>
            <setting name="DefaultEncoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 11.25pt</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Bortpad.Properties.Settings>
    </applicationSettings>
</configuration>