<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bortpad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Bortpad.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 11.25pt</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value/>
            </setting>
            <setting name="Replace" serializeAs="String">
                <value/>
            </setting>
            <setting name="Up" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WrapAround" serializeAs="String">
                <value>False</value>
            </setting>
        </Bortpad.Properties.Settings>
    </userSettings>
</configuration>
